/* 文本部分加大与下方间距 增加边界 增加边框 */
.backlinkList .b3-list .protyle,
.backlinkMList .b3-list .protyle{
    margin: 0px 8px 16px 8px;
    border: 1px solid var(--b3-border-color);
    border-radius: 4px;
    background-color: var(--b3-theme-surface);
}

/* 文本框与边界间距缩小 */
.backlinkList.fn__flex-1 > ul > div:nth-child(n) > div.protyle-content > div{
    padding: 4px 4px 4px 8px !important;
}

/* 反链面板改为白色背景 */
.backlinkList,
.backlinkMList{
    background-color: var(--b3-theme-background);
}

/* 取消选中背景 */
#layouts > div.fn__flex.fn__flex-1 > div:nth-child(n) > div:nth-child(n) > div > div.layout-tab-container.fn__flex-1 > div > div.backlinkList.fn__flex-1 > ul > li.b3-list-item.b3-list-item--focus,
#layouts > div.fn__flex.fn__flex-1 > div:nth-child(n) > div:nth-child(n) > div > div.layout-tab-container.fn__flex-1 > div > div.backlinkMList.fn__flex-1 > ul > li.b3-list-item.b3-list-item--focus{
    background-color: var(--b3-theme-background);
}

/* 加粗文章标题、增加边框 */
#layouts > div.fn__flex.fn__flex-1 > div:nth-child(n) > div:nth-child(n) > div > div.layout-tab-container.fn__flex-1 > div > div.backlinkList.fn__flex-1 > ul > li.b3-list-item,
#layouts > div.fn__flex.fn__flex-1 > div:nth-child(n) > div:nth-child(n) > div > div.layout-tab-container.fn__flex-1 > div > div.backlinkMList.fn__flex-1 > ul > li.b3-list-item{
    font-weight: bold;
    margin-top: 8px !important;
    border: 1px solid var(--b3-border-color);
    background-color: var(--b3-theme-background);
}

/* 取消文章图标 */
#layouts > div.fn__flex.fn__flex-1 > div:nth-child(n) > div:nth-child(n) > div > div.layout-tab-container.fn__flex-1 > div > div.backlinkList.fn__flex-1 > ul > li:nth-child(n) > svg,
#layouts > div.fn__flex.fn__flex-1 > div:nth-child(n) > div:nth-child(n) > div > div.layout-tab-container.fn__flex-1 > div > div.backlinkMList.fn__flex-1 > ul > li:nth-child(n) > svg{
    display: none;
}

/* 同一文档多个反链：在第二个开始的面包屑上方增加分界线、增加间距 */
#layouts > div.fn__flex.fn__flex-1 > div:nth-child(n) > div:nth-child(n) > div > div.layout-tab-container.fn__flex-1 > div > div.backlinkList.fn__flex-1 > ul > div > div.protyle-content > div > div.protyle-breadcrumb__bar.protyle-breadcrumb__bar--nowrap:not(:first-child),
#layouts > div.fn__flex.fn__flex-1 > div:nth-child(n) > div:nth-child(n) > div > div.layout-tab-container.fn__flex-1 > div > div.backlinkMList.fn__flex-1 > ul > div > div.protyle-content > div > div.protyle-breadcrumb__bar.protyle-breadcrumb__bar--nowrap:not(:first-child){
    border-top: 1px solid var(--b3-border-color);
    margin-top:6px !important;
    padding-top: 6px;
}
