/* 取消调整界面大小时过度动画 */
.protyle-wysiwyg {
    transition: none;
}

/* 工作空间简化 */
#barWorkspace {
    height: 32px;
    padding: 0 2px;
}
#barWorkspace .toolbar__text {
    width: 16px;
    line-height: 32px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: clip;
    white-space: pre-wrap;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.toolbar__item svg.toolbar__svg {
    opacity: 1;
    margin-top: 10px;
}

/* 标签调整 背景色*/
/* .layout-tab-bar {
    background-color: var(--b3-toolbar-background);
} */

/* 标签调整 行高 */
.layout-tab-bar .item__close {
    padding: 4px 8px 4px 0;
}
.layout-tab-bar .item {
    min-height: 32px;
}

/* 标签之间添加分割线 */
/* .layout-tab-bar .item::after {

} */

