/* 紧凑模式的样式，缩短文本行间距，缩减内容块之间行间距 */
.b3-typography p, .b3-typography [data-node-id], .protyle-wysiwyg p, .protyle-wysiwyg [data-node-id] {
    line-height: 1.625;
    padding: 0px 4px 0px 4px;
    margin: 1px 0;
}

/* 原始样式 */
/* .b3-typography p, .b3-typography [data-node-id], .protyle-wysiwyg p, .protyle-wysiwyg [data-node-id] {
    line-height: 1.625;
    padding: 4px;
    margin: 4px 0;
} */


/* 1.0.5 wait 还需调整无序列表等图标位置 */
.li > .protyle-action {
    height: 27px;
    line-height: 34px;
}