/* 标题居中 */

.toolbar__title[id="toolbarName"] {
    text-align: center;
    padding: 4px 0px 4px 40px;
} 

/* 面包屑降低透明度 */

.protyle-breadcrumb {
    opacity: 0.7;
}

/* 编辑工具链增强文字样式按钮的提示性 */

.keyboard__action[data-type="goinline"] {
    color: var(--b3-link);
}

/* 减弱同步状态栏 */
.status {
    right: 10px;
    width: 30%;
    opacity: 0.8;
}

/* 增大所有选择框的高度 */
.b3-select {
    height: 38px;
}
/* 增大按钮 */
.b3-button {
    line-height: 32px;
    padding: 4px 8px;
}

/* 非折叠的按钮降低透明度 */
.protyle-gutters button:not([data-type="fold"]) {
    opacity: 0.5;
}

/* 避免按钮太靠近手机边缘 */
.protyle-gutters button {
    border: 0;
    padding: 4px 4px 4px 10px;
}